<ul class="thumbnails">
    <ol class="carousel-indicators">
      <% @albums.each do |album| %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= album.id%>" <% if album.id==28 %>class="active"<% end %>></li>
      <% end %>
    </ol>

    <div class="carousel-inner">
      <% @albums.each do |album| %>
        <div class="item <% if album.id==28 %>active<% end %>">
          <img src="http://placehold.it/140x140" alt="">
          <div class="carousel-caption">
            <%= album.title%>
          </div>
        </div>
      <% end %>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a>
</ul>

<a href="/albums/new" class="btn btn-primary btn-xs" role="button">Primary link</a>